.imageStorage__wrapper {
  width: 350px;
  height: 100vh;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  margin-left: 16px;
  transition: 0.7s;
  position: relative;
  opacity: 1;

  label {
    display: block;
    width: 80%;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    color: #8b8b8b;
    padding: 8px 16px;
  }

  hr {
    width: 80%;
    border: none;
    border-bottom: 1px solid #cdcfeb92;
  }

  &.close {
    width: 46px;

    .image__blocks {
      opacity: 0;
    }

    label,
    hr {
      opacity: 0;
    }
  }

  input[type='file'] {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .image__blocks {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    overflow: hidden;
    overflow-x: auto;
    margin-top: 20px;
    opacity: 1;
    transition: 0.7s;

    .image__block {
      width: 85%;
      height: 150px;
      margin-top: 20px;
      display: flex;

      &:hover {
        opacity: 0.7;
      }

      label {
        height: 50px;
        width: 50%;
        font-size: 12px;
        color: #262626;
      }

      [draggable='true'] {
        cursor: move;
      }

      img {
        width: 50%;
        border: 3px solid #9898985a;
        object-fit: cover;
        margin-right: 8px;
      }
    }
  }

  .expandBtn {
    background-color: #dddddd;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid gray;
    position: absolute;
    top: 8px;
    left: 8px;

    &:hover {
      opacity: 0.7;
    }
  }
}
