.toolBar {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #262626;
  color: #cdcfeb;
  padding: 8px 16px;
  margin-right: 16px;

  .toolGroup {
    margin: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      background-color: transparent;
      border: none;
      width: 30px;
      height: 30px;
      color: #cdcfeb;
      border-radius: 3px;

      &:not(:first-child) {
        margin-left: 8px;
      }

      &:hover {
        background-color: #cdcfeb92;
        color: #262626;
      }
    }

    input[type='range'] {
      margin-left: 10px;
    }

    .saveFileBlock__wrapper {
      display: flex;
      flex-direction: column;

      button {
        width: 50px;
        height: 25px;
        margin-left: 0;
        margin-top: 8px;
      }
    }
  }
}
