.toolBar {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  max-height: 100vh;
  background-color: #f2f2f2;
  color: #8b8b8b;
  border-right: 1px solid #cdcfeb92;
  padding: 8px 16px;
  margin-right: 16px;
  position: relative;
  transition: 0.7s;
  opacity: 1;

  &.close {
    width: 20px;
    padding: 0;

    .toolGroup__container {
      opacity: 0;
    }

    label,
    hr {
      opacity: 0;
    }
  }

  label {
    width: 80%;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    transition: 0.7s;

    &.title {
      font-size: 16px;
      padding-bottom: 4px;
      border-bottom: 1px dashed #cdcfeb92;
    }
    &.subTitle {
      font-size: 14px;
      padding-bottom: 4px;
      border-bottom: 1px dashed #cdcfeb92;
    }
  }

  hr {
    width: 80%;
    border: none;
    border-bottom: 1px solid #cdcfeb92;
    transition: 0.7s;
    overflow: hidden;
  }

  .toolGroup__container {
    width: 250px;
    transition: 0.7s;
    overflow: hidden;

    .toolGroup {
      margin: 24px 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      max-width: 85%;

      label {
        width: fit-content;
        margin: 0;
        margin-right: 16px;
      }

      button {
        background-color: transparent;
        border: none;
        width: 30px;
        height: 30px;
        color: #8b8b8b;
        border-radius: 3px;
        box-sizing: border-box;
        font-family: inherit;

        &:not(:first-child) {
          margin-left: 16px;
        }

        .rectIcon {
          width: 16px;
          height: 16px;
          border: 2px solid #8b8b8b;
          border-radius: 4px;

          &.fill {
            background-color: #8b8b8b;
          }
        }

        .line {
          width: 16px;
          border: 2px solid #8b8b8b;
        }

        .triangle {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 10px 16px 10px;
          border-color: transparent transparent #8b8b8b transparent;
        }

        &:hover,
        &.active {
          background-color: #b1dfd971;
          color: #3f96fe;
        }
      }

      input[type='range'] {
        margin-left: 10px;
      }

      .saveFileBlock__wrapper {
        display: flex;
        flex-direction: column;
        label {
          margin: 0;
          margin-bottom: 10px;
          width: 100%;
          text-align: left;
        }

        .container {
          display: flex;

          input {
            height: 25px;
            border: none;
            border-bottom: 1px solid #8b8b8b;
            background-color: transparent;
            transition: 0.7s;

            &:focus {
              outline: none;
              border-bottom-color: #b1dfd971;
            }

            &:hover {
              border-bottom-color: #b1dfd971;
            }
          }

          button {
            width: 50px;
            height: 25px;
            font-size: 16px;
            margin-left: 16px;
            margin-top: 8px;
          }
        }
      }
    }
  }

  .expandBtn {
    background-color: #dddddd;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #cdcfeb92;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    transition: 0.7s;

    &:hover {
      opacity: 0.7;
    }
  }
}
